.logo-titulo {
    display: block;
    margin left: 0;
    margin top: 5px;
    width: 400px;
    height: auto;
    background: none;
    box-shadow: none;
    border-radius: 0; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5cfc4;
    margin: 1px;
    padding: 1px;
}

.search-box {
      flex: 1;
      max-width: 500px;
      margin: 0 40px;
      position: relative;
}

.search-box input {
      width: 100%;
      padding: 10px 40px 10px 15px;
      border-radius: 20px;
      border: none;
      outline: none;
      font-size: 14px;
}

.search-box button {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      cursor: pointer;
      font-size: 16px;
      color: #e97c5d 
}

menu a {
      color: white;
      text-decoration: none;
      font-size: 14px;
      font-weight: bold;
      transition: opacity 0.2s ease-in-out;
    }

.menu a:hover {
      opacity: 0.7;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    justify-content: center;
    padding: 50px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}


.card {
    background: rgb(243, 217, 204);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    text-align: center;
    width: 250px;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
    color: inherit;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 80px;
    margin: center;
    object-fit: cover;
    display: block;
    transition: transform 0.35s ease, filter 0.35s ease, opacity 0.35s ease;
}

/* Si usas h2 y p dentro de .card */
.card h2 {
    color: #e97c5d;
    margin-bottom: 10px;
}
.card p {
    font-size: 20px;
    color: #e97c5d;
}

.title {
    font-size: 2rem;
    color: #e9967a;
    margin: 0;
    font-weight: 600;
    background: linear-gradient(90deg, rgb(245, 176, 142), rgb(249, 158, 112), rgb(244, 117, 54), rgb(251, 87, 6));
    background-size: 200% 200%;
    background-clip: text;
    color: transparent;
    transition: background-position 0.6s ease;
    cursor: default;
}
.title:hover {
    background-position: 100% 0;
}


main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #e97c5d;
    padding: 1px 0;
    margin: 0 auto;
    box-sizing: border-box;
    width: fit-content;
    border-radius: 1px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.05);
}

.slogan {
    font-size: 1rem;
    color: #555;
    margin: 8px 0;
}

.divider {
    border: none;
    border-top: 2px solid #fcf8f7;
    width: 80%;
    margin: 15px auto;
}

@media (max-width: 600px) {
    .logo-title {
        flex-direction: column;
    }
    .title {
        font-size: 1.5rem;
    }
    .slogan {
        font-size: 0.9rem;
    }
}


.subtitulo {
    font-family: serif;
    color: #f36e6ee8;
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.galeria a img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
}
.imagene-link {
    margin: 10px;
    text-decoration: none;
}
.imagene-link img:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}